@import "../../main-styles";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto;
}

mat-toolbar {
  grid-column-start: 1;
  grid-column-end: 3;

  h2 {
    color: $detail-color;
  }
  display: flex;
  justify-content: space-between;
  background: transparent !important;

  button {
    margin: 0.5em;
    background: $detail-color;
  }
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  .team {
    background: $secondary-color;
    height: 30vh;
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin: 0.5em;
  }
}
