@import "../../main-styles";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto;
}

mat-toolbar {
  grid-column-start: 1;
  grid-column-end: 3;

  h2 {
    color: $detail-color;
  }
  display: flex;
  justify-content: space-between;
  background: transparent !important;

  button {
    margin: 0.5em;
    background: $detail-color;
  }
}

.teams-list {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .team-card {
    width: 350px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../../assets/project-1.jpg");
    background-size: cover;
    border-radius: 5%;
    box-shadow: 0 2px 2px black;
    margin: 0.5em;

    &:hover {
      opacity: 60%;
      cursor: pointer;
    }

    .text {
      line-height: 1.5em;
      font-size: 1.2em;
      background: white;
      color: $primary-color;
      opacity: 50%;
      height: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 2px black;
    }

  }
}
