<div class="main-container">
  <div class="button-login">
    <span>SIGN IN</span>
  </div>
  <div class="button-registration" (click)="goToRegistration()">
    <span>REGISTRATION</span>
  </div>
  <form [formGroup]="formLogin">
    <div class="data">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input [formControl]="emailFC" matInput required type="email"/>
        <mat-error>This field should be an e-mail</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input [formControl]="passwordFC" matInput required type="password"/>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
    <div class="submit">
      <div class="name-button">
        SIGN IN
      </div>
      <button (click)="singIn()" [disabled]="!formLogin.valid">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </form>
</div>
