<app-dialog-template>
  <h2 title>Join team</h2>
  <form content [formGroup]="joinTeamFormGroup">
    <mat-form-field>
      <mat-label>Enter a name team: </mat-label>
      <input [formControl]="teamName" matInput required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a access code: </mat-label>
      <input [formControl]="accessCode" matInput required />
    </mat-form-field>
  </form>
  <button action mat-raised-button [disabled]="!joinTeamFormGroup.valid" (click)="join()">JOIN</button>
</app-dialog-template>
