<app-dialog-template>
  <h2 title>Join ProjectDetails</h2>
  <form content [formGroup]="projectForm">
    <mat-form-field>
      <mat-label>Enter a name ProjectDetails: </mat-label>
      <input [formControl]="projectNameFC" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a access code: </mat-label>
      <input [formControl]="accessCodeFC" matInput />
    </mat-form-field>
  </form>
  <button action mat-raised-button (click)="save()">SAVE</button>
</app-dialog-template>
