<app-dialog-template>
  <h2 title>Create scrum poker</h2>
  <div class="content" content>
    <form [formGroup]="formGroup" content>
      <div class="input" *ngFor="let control of membersFormControl.controls; index as i">

        <mat-form-field>
          <mat-label>Select member</mat-label>
          <input [formControl]="control"
                 [matAutocomplete]="auto"
                 matInput required
                 type="text">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="getUsername">
            <mat-option *ngFor="let item of filteredOptionUser" [value]="item">
              {{item.username}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-icon (click)="removeMember(i)">delete</mat-icon>
      </div>
      <button mat-raised-button (click)="addUser()">ADD MEMBER</button>
      <div class="input" *ngFor="let control of teamsFormControl.controls; index as i">
      <mat-form-field>
        <mat-label>Select team</mat-label>
        <input [formControl]="control"
               [matAutocomplete]="autoTeam"
               matInput required
               type="text">
        <mat-autocomplete #autoTeam="matAutocomplete" [displayWith]="getName">
          <mat-option *ngFor="let item of filteredOptionTeam" [value]="item">
            {{item.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
        <mat-icon (click)="removeTeam(i)">delete</mat-icon>
      </div>
      <button mat-raised-button (click)="addTeam()">ADD TEAM</button>
    </form>
  </div>

  <button mat-raised-button action (click)="startScrumPoker()">START SCRUM POKER</button>
</app-dialog-template>
