@import "../../main-styles";
@import "../../assets/styles/scroll-panel";

:host {
  @include fullPage;
}

.container {
  display: grid;
  grid-template-rows: 50px auto;
  padding: 1em;
  margin: 0;

  .header-card {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    color: $secondary-detail-color;
  }

  .content {
    height: 98%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;

    .p {
      min-width: 180px;
      min-height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: url("../../assets/project-1.jpg");
      background-size: cover;
      border-radius: 5%;
      box-shadow: 0 2px 2px black;

      &:hover {
        opacity: 60%;
        cursor: pointer;
      }

        .text {
          line-height: 1.5em;
          font-size: 1.2em;
          background: white;
          color: $primary-color;
          opacity: 50%;
          height: 2em;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 2px 2px black;
        }

    }
    .example {
      background: $secondary-detail-color;
    }
  }
}

