@import "../../../../main-styles";

.belt {
  min-height: 20px;
  width: 100%;
  background-color: $secondary-spot-color;
  box-shadow: 0 2px 2px black;
}

.file-input {
  display: none;
}

.image {
  height: 15vh;
  width: 100%;
  background-color: $secondary-spot-color;
  padding: 0;

  position: relative;
  text-align: center;
  border: none;

  .text-centered {
    width: 100%;
    background-color: $spot-color;
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: bold;
    color: $primary-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  &:hover {
    cursor: pointer;
    .text-centered {
      display: block;
    }
  }

  &:focus {
    outline: none;
  }
}

.image-upload {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.card {
  padding: 1em;
  background-color: $secondary-spot-color;
  border-radius: 0;

  .header {
    .title {
      font-weight: bolder;
      font-size: 1.5em;
      line-height: 1.5em;
      color: $primary-color;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .mat-input-element:disabled {
      color: $primary-color !important;
    }
  }
}

.mat-subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.attachment {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.my-attachment:hover {
  cursor: pointer;
}
