@import "../../../main-styles";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 90%;
  width: 90%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 4fr 1fr;

  box-shadow: 5px 5px 5px black;
  border-radius: 20px;

  .login-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("../../../assets/login.jpg");
    border-radius: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
      cursor: pointer;
      filter: brightness(70%);
    }
  }

  .registration-button {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url("../../../assets/registration.jpg");
    border-radius: 0 0 0 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      filter: brightness(70%);
    }
  }

  .name {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    color: $detail-color;
    font-weight: bold;
  }

  .header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 0 20px 0 0;
  }

  .content-form {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;


    display: flex;
    width: 100%;

    .button-click {
      border-radius: 0 0 20px 0;
    }

    border-radius: 0 0 20px 0;
  }
}
