<app-dialog-template>
  <h2 title>Update user story</h2>
  <form [formGroup]="userStoryFormGroup" content>
    <mat-form-field>
      <mat-label>Enter a title for the user story</mat-label>
      <input [formControl]="title" matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a user story description</mat-label>
      <textarea [formControl]="description"
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                required></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a story points for the user story</mat-label>
      <input [formControl]="storyPoints" matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Give priority</mat-label>
      <mat-select [formControl]="priorityFC" required >
        <mat-option *ngFor="let p of priority" [value]="p">
          {{priorityStatusLabelMapping[p]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button action mat-raised-button (click)="update()" [disabled]="!userStoryFormGroup.valid">SAVE</button>
</app-dialog-template>
