@import "../../assets/styles/form-styles";

.button-login {
  filter: brightness(30%);
}

.button-registration {
  filter: brightness(60%);
  color: $detail-color;
}

.error {
  color: $detail-color;
}
