@import "../../main-styles";

:host {
  @include fullPage;
}


.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  .chat {
    display: grid;
    grid-template-rows: 50px auto 70px;

    .content {
      display: flex;
      flex-direction: column;
      overflow: auto;
      max-height: 85vh;

      .other {
        background: $secondary-spot-color;
        max-width: 60%;
        align-self: flex-start;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
      }

      .my {
        background: $spot-color;
        max-width: 60%;
        align-self: flex-end;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
      }
    }

    .name {
      background: $secondary-detail-color;
      color: $primary-color;
      font-size: 1.2em;
      display: flex;
      align-items: center;
      padding-left: 10px;
      font-weight: bold;
      box-shadow: 0 3px 3px black;
    }

    .send {
      padding: 1em;
      background: $detail-color;
      box-shadow: 3px 0 3px black;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      input {
        padding: 0 5px;
        width: 80%;
        height: 80%;
        border-radius: 5px;
        background: $spot-color;
        border: none;
        box-shadow: 2px 2px 2px black;
        &:focus {
          border: none;
        }
      }

      button {
        width: 10%;
        height: 80%;
        border-radius: 5px;
        background: $secondary-detail-color;

      }

    }
  };
  .chat-column {
    background: $secondary-detail-color;
    display: grid;
    grid-template-rows: 50px auto 70px;
    border: none;

    .users {
      display: flex;
      flex-direction: column;
      overflow: auto;
      max-height: 80vh;
      overflow-x: hidden;


      .user {
        padding: 5px;
        width: 100%;
        height: 80px;
        min-height: 80px;
        border: 1px solid $secondary-spot-color;
        border-left-width: 0;
        border-right-width: 0;

        display: grid;
        grid-template-rows: 2fr 3fr;
        grid-template-columns: 1fr 4fr;

        .img-user {
          grid-row-start: 1;
          grid-row-end: 3;
          display: flex;
          align-items: center;
          justify-content: center;
          .img-u {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: url("../../assets/bloank-user.png");
            background-size: cover;
            box-shadow: 0 3px 3px black;
          }
        }

        .user-name {
          color: $primary-color;
          font-weight: bold;
          font-size: 1.1em;
          display: flex;
          align-items: center;
          padding-left: 5px;
        }

        .content-message {
          color: $primary-color;
          padding-left: 5px;

        }
      }
    }

    .search {

      display: flex;
      align-items: center;
      justify-content: center;

      input {
        padding: 0 5px;
        width: 80%;
        height: 60%;
        border-radius: 5px;
        background: $spot-color;
        border: none;
        box-shadow: 2px 2px 2px black;
      }
    }

    .new {
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
}
