<div class="container">
  <div class="chat">
    <div class="name">
      NAME SURNAME
    </div>
    <div class="content">
      <div *ngFor="let chatMessage of webSocketService.chatMessages" [ngClass]="chatMessage.senderEmail == user.email? 'my' : 'other'">
        {{chatMessage.message}}
      </div>
    </div>
    <div class="send">
      <form content [formGroup]="messageForm">
        <mat-form-field>
          <mat-label>Enter your message....</mat-label>
          <input [formControl]="messageInput" matInput>
        </mat-form-field>
      </form>
      <button action mat-raised-button (click)="sendMessage()">SEND</button>
    </div>
  </div>
  <div class="chat-column">
    <div class="search">
      <input matInput placeholder="Search"/>
    </div>
    <div class="users">
      <div class="user">
        <div class="img-user">
          <div class="img-u"></div>
        </div>
        <div class="user-name">NAME SURNAME</div>
        <div class="content-message">Hello! How are you?</div>
      </div>
      <div class="user">
        <div class="img-user">
          <div class="img-u"></div>
        </div>
        <div class="user-name">NAME SURNAME</div>
        <div class="content-message">Hello! How are you?</div>
      </div>
      <div class="user">
        <div class="img-user">
          <div class="img-u"></div>

        </div>
        <div class="user-name">NAME SURNAME</div>
        <div class="content-message">Hello! How are you?</div>
      </div>
      <div class="user">
        <div class="img-user">
          <div class="img-u"></div>

        </div>
        <div class="user-name">NAME SURNAME</div>
        <div class="content-message">Hello! How are you?</div>
      </div>


    </div>
    <div class="new">
      <button mat-raised-button>Start a new conversation</button>
    </div>
  </div>
</div>
