<div class="container">
  <div class="chat">
    <div class="name">
      NAME SURNAME
    </div>
    <div class="content">
      <div class="other">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla arcu ut risus ultricies ultricies.
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Curabitur ultricies eros vel dignissim varius. Sed blandit ante vitae felis faucibus, id fringilla justo molestie.
      </div>
      <div class="my">
        Integer lobortis porta massa imperdiet dapibus. Donec elit ipsum, varius eget augue vel, fringilla condimentum nunc.
        Fusce a turpis non ipsum bibendum tincidunt a a lorem. Suspendisse elementum arcu ante, hendrerit lobortis metus rhoncus vitae.
        Vivamus ac quam tincidunt, fermentum nibh id, maximus lorem. Vestibulum rhoncus in turpis tincidunt consectetur.
        Vestibulum risus leo, elementum sit amet ultricies a, tempor at est. Donec maximus et dui in posuere.
        Curabitur sagittis ultrices eleifend. Nulla ultrices risus at nibh euismod, sit amet egestas ligula auctor.
        Nulla tristique mi sit amet consectetur volutpat.
      </div>
      <div class="other">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
      <div class="my">
        Integer lobortis porta massa imperdiet dapibus. Donec elit ipsum, varius eget augue vel, fringilla condimentum nunc.
        Fusce a turpis non ipsum bibendum tincidunt a a lorem. Suspendisse elementum arcu ante, hendrerit lobortis metus rhoncus vitae.
        Vivamus ac quam tincidunt, fermentum nibh id, maximus lorem.
      </div>
      <div class="my">
        Vestibulum rhoncus in turpis tincidunt consectetur.
        Vestibulum risus leo, elementum sit amet ultricies a, tempor at est. Donec maximus et dui in posuere.
        Curabitur sagittis ultrices eleifend. Nulla ultrices risus at nibh euismod, sit amet egestas ligula auctor.
        Nulla tristique mi sit amet consectetur volutpat.
      </div>
      <div class="other">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
      <div class="other">
        Curabitur ultricies eros vel dignissim varius. Sed blandit ante vitae felis faucibus, id fringilla justo molestie.
      </div>
      <div class="my">
        Integer lobortis porta massa imperdiet dapibus. Donec elit ipsum, varius eget augue vel, fringilla condimentum nunc.
        Fusce a turpis non ipsum bibendum tincidunt a a lorem. Suspendisse elementum arcu ante, hendrerit lobortis metus rhoncus vitae.
        Vivamus ac quam tincidunt, fermentum nibh id, maximus lorem.
      </div>

    </div>
    <div class="send">
      <input matInput placeholder="Enter your message"/>
      <button mat-raised-button>SEND</button>
    </div>
  </div>
  <div class="chat-column">
    <div class="search">
      <input matInput placeholder="Search"/>
    </div>
    <div class="users">
      <div class="user">
        <div class="img-user">
          <div class="img-u"></div>
        </div>
        <div class="user-name">NAME SURNAME</div>
        <div class="content-message">Hello! How are you?</div>
      </div>
      <div class="user">
        <div class="img-user">
          <div class="img-u"></div>
        </div>
        <div class="user-name">NAME SURNAME</div>
        <div class="content-message">Hello! How are you?</div>
      </div>
      <div class="user">
        <div class="img-user">
          <div class="img-u"></div>

        </div>
        <div class="user-name">NAME SURNAME</div>
        <div class="content-message">Hello! How are you?</div>
      </div>
      <div class="user">
        <div class="img-user">
          <div class="img-u"></div>

        </div>
        <div class="user-name">NAME SURNAME</div>
        <div class="content-message">Hello! How are you?</div>
      </div>


    </div>
    <div class="new">
      <button mat-raised-button>Start a new conversation</button>
    </div>
  </div>
</div>
