@import "../../main-styles";

.board-tasks {
  display: flex;
  flex-direction: column;
  height: 100%;

  .tasks {
    height: 100%;
    width: 100%;

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .side {
        width: 100%;
        height: 20px;
        @include centerElements;

        mat-icon:hover {
          cursor: pointer;
          color: $detail-color;
        }
      }
      .middle {
        overflow: hidden;
        scroll-behavior: smooth;
        height: 90%;
        width: 100%;
      }
    }
  }

  .status-name {
    background: $secondary-detail-color;
    font-size: 1.2em;
    line-height: 1.2em;
    min-height: 60px;
    @include centerElements;
    align-self: stretch;
    box-shadow: 0 3px 6px black;
    border-radius: 10px;
    min-width: 220px;
  }

  .task-card-content {
    background-color: $secondary-spot-color;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;

    .task-card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 18px;
      color: $primary-color;
    }

    .task-card-body {
      position: relative;
      max-height: 70px;
      overflow: hidden;
      color: $primary-color;
      pointer-events: none;

      .fade-out-truncation {
        position: absolute;
        bottom: 0;
        height: 50%;
        width: 100%;
        background: linear-gradient(to bottom, rgba($secondary-spot-color, 0) 0%, rgba($secondary-spot-color, 0.8) 50%, $secondary-spot-color 100%);

      }
    }
  }
}

mat-icon:hover {
  cursor: pointer;
  color: $primary-color;
}

.cdk-drop-dragging .cdk-drag {
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  background: rgba(0, 0, 0, .2);
}

.cdk-drag-preview {
  opacity: 0.5;
  background: $secondary-spot-color;
  box-shadow: 0 3px 6px black;
  border-radius: 10px;
  mat-panel-title {
    font-weight: bold;
  }
}
