<div class="board-tasks">
  <div class="status-name">{{title}}</div>

  <div class="tasks" cdkDropList
       [cdkDropListData]="tasks"
       (cdkDropListDropped)="onDrop($event)">
    <div class="content">
      <div class="side">
        <mat-icon (click)="scrollUp()">
          keyboard_arrow_up
        </mat-icon>
      </div>
      <div #widgetsContent class="middle" >
        <div class="task-card-content"  *ngFor="let task of tasks"
             hideToggle cdkDrag [cdkDragDisabled]="title==='PBI'">
          <div class="task-card-title">
            <div>{{task.title}}</div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="displayTask(task.id)">
                <span>Display task</span>
              </button>
              <button mat-menu-item  *ngIf="title==='PBI'" (click)="divided(task.id)">
                <span>Divided into task</span>
              </button>
              <button mat-menu-item *ngIf="title!=='PBI' && title!=='DONE'" (click)="changeStatus(task.id)">
                <span>Move task</span>
              </button>
              <button mat-menu-item *ngIf="title=='IN-PROGRESS' || title=='MERGE REQUEST'" (click)="addRealizeTask(task.id)">
                <span>Join the task</span>
              </button>
            </mat-menu>
          </div>
          <div #bodyText class="task-card-body">
            <p>{{task.description}}</p>
            <div #truncator class="fade-out-truncation"></div>
          </div>
        </div>
      </div>
      <div class="side">
        <mat-icon (click)="scrollDown()">
          keyboard_arrow_down
        </mat-icon>
      </div>
    </div>
  </div>
</div>

