<app-dialog>
  <h2 title>Add teams</h2>
  <form content [formGroup]="teamForm">
    <mat-form-field>
      <mat-label>Enter a name team: </mat-label>
      <input [formControl]="teamNameFC" matInput required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a access code: </mat-label>
      <input [formControl]="accessCodeFC" matInput required />
    </mat-form-field>
    <div class="one-button">
      <button mat-raised-button (click)="addTeam()" [disabled]="!teamForm.valid">Add team</button>
    </div>
    <mat-form-field>
      <mat-label>List teams</mat-label>
      <mat-select>
        <mat-option *ngFor="let team of teams">
          Name: {{team.name}} Access code: {{team.accessCode}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button action mat-raised-button (click)="save()">SAVE</button>
</app-dialog>
