<app-dialog-template>
  <h2 *ngIf="request=='ADD'" title>Add a task</h2>
  <h2 *ngIf="request=='UPDATE'" title>Update a task</h2>
  <form [formGroup]="taskGroup" content>
    <mat-form-field>
      <mat-label>Enter a title for the task</mat-label>
      <input [formControl]="titleFC" matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a task description</mat-label>
      <textarea [formControl]="descriptionFC"
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                required></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Give priority</mat-label>
      <mat-select [formControl]="priorityFC" required >
        <mat-option *ngFor="let p of keys" [value]="priority[p]">
          {{priority[p] | removeUnderscores}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="request=='UPDATE'">
      <mat-label>Give storyPoints</mat-label>
      <input [formControl]="storyPointFC" matInput>
    </mat-form-field>
  </form>
  <button action mat-raised-button (click)="save()" [disabled]="!taskGroup.valid">SAVE</button>
</app-dialog-template>
