<mat-grid-list cols="2" rowHeight="9.8vh">
  <mat-grid-tile [colspan]="1" [rowspan]="6">
    <app-preview-estimation-results [teamEstimation]="scrumPoker.individualEstimation" [idCreator]="scrumPoker.idCreator"></app-preview-estimation-results>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="6">
    <app-task-view [tasks]="scrumPoker.tasks" [idCreator]="scrumPoker.idCreator"></app-task-view>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="4">
    <app-deck-of-cards></app-deck-of-cards>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="4">
    <app-plan [tasksId]="scrumPoker.tasks"></app-plan>
  </mat-grid-tile>
</mat-grid-list>

