<app-dialog-template>
  <h2 title>Show issue</h2>
  <form content>
    <mat-form-field>
      <mat-label>Enter a title for the issue</mat-label>
      <input [formControl]="title" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a issue description</mat-label>
      <textarea [formControl]="description"
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Give priority</mat-label>
      <input [formControl]="priorityFC" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Give type issue</mat-label>
      <input [formControl]="typeIssue" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a story points</mat-label>
      <input [formControl]="storyPoints" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Give status issue</mat-label>
      <input [formControl]="statusIssue" matInput>
    </mat-form-field>
    <mat-form-field *ngIf="issue.idUserStory">
      <mat-label>Connection with</mat-label>
      <input [formControl]="userStory" matInput>
    </mat-form-field>
  </form>
</app-dialog-template>

