<app-simple-dialog>
  <h2 *ngIf="request=='ADD'" title>Create project</h2>
  <h2 *ngIf="request=='UPDATE'" title>Update project: {{idProject}}</h2>
  <mat-horizontal-stepper content [linear]="true">
    <mat-step [stepControl]="projectForm" label="Basic information">
      <form [formGroup]="projectForm">
        <mat-form-field>
          <mat-label>Enter a title for the project</mat-label>
          <input [formControl]="projectNameFC" matInput required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter a project description</mat-label>
          <textarea [formControl]="descriptionFC"
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="5"
                    required></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter a password for the project</mat-label>
          <input [formControl]="passwordFC" matInput required>
        </mat-form-field>
        <div class="button one-button">
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="projectDetailsForm" label="Details">
      <form [formGroup]="projectDetailsForm">
        <mat-form-field>
          <mat-label>Enter a Product Owner: </mat-label>
          <input [formControl]="productOwnerFC" matInput type="email"/>
          <mat-error>
            Pole powino być emailem
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter a Scrum Master: </mat-label>
          <input [formControl]="scrumMasterFC" matInput type="email"/>
          <mat-error>
            Pole powino być emailem
          </mat-error>
        </mat-form-field>
        <div class="button">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button *ngIf="request=='ADD'" mat-raised-button matStepperNext>Next</button>
          <button *ngIf="request=='UPDATE'" mat-raised-button (click)="save()"
                  [disabled]="!projectForm.valid">UPDATE</button>

        </div>
      </form>
    </mat-step>
    <mat-step  *ngIf="request=='ADD'" [stepControl]="teamForm" label="Add teams">
      <form [formGroup]="teamForm">
        <mat-form-field>
          <mat-label>Enter a name team: </mat-label>
          <input [formControl]="teamNameFC" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter a access code: </mat-label>
          <input [formControl]="accessCodeFC" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>List add members</mat-label>
          <mat-select>
            <mat-option *ngFor="let team of teams">
              Name: {{team.name}} Access Code: {{team.accessCode}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button one-button">
          <button mat-raised-button (click)="addTeam()" [disabled]="!teamForm.valid">Add team</button>
        </div>
        <div class="button">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="save()" [disabled]="!projectForm.valid">Add</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</app-simple-dialog>
