<app-dialog>
  <h2 *ngIf="request=='ADD'" title>Create project</h2>
  <h2 *ngIf="request=='UPDATE'" title>Update project: {{idProject}}</h2>

  <form [formGroup]="projectForm" content>
    <mat-form-field>
      <mat-label>Enter a title for the project</mat-label>
      <input [formControl]="projectNameFC" matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a project description</mat-label>
      <textarea [formControl]="descriptionFC"
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                required></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a password for the project</mat-label>
      <input [formControl]="passwordFC" matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter Product Owner</mat-label>
      <input [formControl]="productOwnerFC"
             [matAutocomplete]="auto"
             matInput required
             type="text">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of filteredOption" [value]="item">
        {{item.username}}
      </mat-option>
    </mat-autocomplete>
  </form>

  <button mat-raised-button action (click)="create()" [disabled]="!projectForm.valid">CREATE PROJECT</button>
</app-dialog>
