<div class="element">
  <div class="header">{{data.username}}</div>
  <div class="element-content">
  <app-picture-user [initial]="data.username | chanelName"></app-picture-user>
  <div class="tasks yesterday">
    <div class="date">{{data.yesterdayTasks.date}}</div>
    <div class="content">
    <div class="task" *ngFor="let task of data.yesterdayTasks.tasks">
      <div>{{task.title}}</div>
      <div>10.02.2021</div>
    </div>
      <div *ngIf="data.todayTasks.tasks.length == 0">
        No data
      </div>
    </div>
  </div>
  <div class="tasks today">
    <div class="date">{{data.todayTasks.date}}</div>
    <div class="content">
      <div class="task" *ngFor="let task of data.todayTasks.tasks">
        <div>{{task.title}}</div>
        <div>10.02.2021</div>
      </div>

      <div *ngIf="data.todayTasks.tasks.length == 0">
        No data
      </div>
    </div>
  </div>
  </div>
</div>
