@import "../../../assets/styles/dialog-styles";


.file-input {
  display: none;
}


.import {
  width: 40vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.image {
  border: 2px solid $secondary-detail-color !important;
  border-radius: 100%  !important;
  box-shadow: 2px 2px 0 black  !important;
  background: transparent;
  width: 250px !important;
  height: 250px !important;

  mat-icon {
    height: 100%;
    width: 100%;
    color: $secondary-detail-color;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $spot-color !important;
    }
  }

  &:hover {
    cursor: pointer;
    background: $secondary-detail-color;
  }
}

.column-name {

  .mat-list-item-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  mat-form-field {
    width: 50% !important;
  }
}
