<app-dialog-template>
  <h2 title>Import issue</h2>
  <div *ngIf="result==null" class="import" content>
    <input type="file" class="file-input" accept='text/csv' (change)="selectFile($event)" #fileUpload>
    <button class="image" (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>

  <div *ngIf="result!=null" class="result" content>
    <mat-list role="list">
      <div mat-subheader>Match the column names</div>
      <mat-list-item *ngFor="let el of result.data" role="listitem" class="column-name">
        <mat-form-field>
          <mat-label>Column from your file</mat-label>
          <input [value]="el" matInput disabled>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select the name that corresponds to your column</mat-label>
          <mat-select>
            <mat-option *ngFor="let f of result.fields" [value]="f">
              {{f}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </div>
<!--  <button action mat-raised-button (click)="importIssue()">IMPORT</button>-->
</app-dialog-template>

