@import "../../main-styles";

:host {
  @include fullPage;
}

.container {
  @include fullPage;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 80%;
  align-items: center;

  .buttons {
    button {
      margin-left: 10px;
    }
  }

}

.header-card {
  display: flex;
  align-items: center;
  align-self: flex-start;
  font-size: 1.5em;
  color: $secondary-detail-color;
}

mat-card {
  width: 80%;
  height: 80%;
  background: $secondary-spot-color !important;
  border-radius: 10px;
  box-shadow: 0 3px 6px black !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  width: 95%;
  min-width: 500px;
}
