<app-dialog-template>
  <h2 title>Create project</h2>
  <form [formGroup]="projectFormGroup" content>
    <mat-form-field>
      <mat-label>Enter a name for the project</mat-label>
      <input [formControl]="projectName" matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a project description</mat-label>
      <textarea [formControl]="description"
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                required></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a access code for the project</mat-label>
      <input [formControl]="accessCode" matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter Product Owner</mat-label>
      <input [formControl]="productOwner"
             [matAutocomplete]="auto"
             matInput required
             type="text">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of filteredOption" [value]="item.username">
        {{item.username}}
      </mat-option>
    </mat-autocomplete>
  </form>

  <button mat-raised-button action (click)="createProject()" [disabled]="!projectFormGroup.valid">CREATE PROJECT</button>
</app-dialog-template>
