@import "../../../../main-styles";

.task {
  padding: 1em;
  background-color: $secondary-spot-color;
  border-radius: 0;

  .header {
    .title {
      font-weight: bolder;
      font-size: 1.5em;
      line-height: 1.5em;
      color: $primary-color;
    }
  }

  .task-details {
    display: flex;
    flex-direction: column;

    .mat-input-element:disabled {
      color: $primary-color !important;
    }
  }
}


