@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$primary-color: #4B4453;
$secondary-color: #00896F;
$spot-color: #FFF6FF;
$detail-color: #00C0A3;
$secondary-detail-color: #845EC2;
$secondary-spot-color: #B0A8B9;

html, body {
  height: 100%;
  overflow: hidden !important;
  margin: 0;
  padding: 0;
  background: $primary-color;
  font-family: 'Roboto Mono', monospace;
}

@mixin fullPage() {
  height: 100%;
  width: 100%;
  @include centerElements;
}

@mixin centerElements() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fontHeader() {
  font-size: 1.5em;
  color: $detail-color;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2%;
}
