@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$primary-color: #1A1719;
$secondary-color: #607D7F;
$spot-color: #63B1B3;
$detail-color: #F1ECEE;
$secondary-detail-color: #2ECDEC;

html, body {
  height: 100%;
  overflow: hidden !important;
  margin: 0;
  padding: 0;
  background: $primary-color;
  font-family: 'Roboto Mono', monospace;
}

@mixin fullPage() {
  height: 100%;
  width: 100%;
  @include centerElements;
}

@mixin centerElements() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fontHeader() {
  font-size: 1.5em;
  color: $detail-color;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2%;
}

@mixin beltWithButton() {
  .submit {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;

    .name-button {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-color;
      font-size: 1.2em;
      background: $spot-color;
    }
    button {
      width: 20%;
      background: $detail-color;
      border: none;
      border-radius: 0 0 10px 0 ;

      &:hover {
        cursor: pointer;
        filter: brightness(70%);
      }

      &:focus {
        outline: none;
      }

    }
  }
}

@mixin formFields() {
  .data {
    height: 85%;
    @include centerElements;
    flex-direction: column;

    background: $primary-color;
    border-radius: 0 10px 0 0;

    mat-form-field {
      width: 80%;
      color: $detail-color;
      font-size: 1.5em;

      mat-label {
        color: $spot-color;
      }
    }
  }
}
