/* You can add global styles to this file, and also import other style files */

@import "main-styles";

mat-dialog-container {
  background: $primary-color !important;

  .mat-dialog-title {
    color: $detail-color;
  }

  .mat-dialog-content {
    color: $secondary-color;

    .mat-form-field-label {
      color: $secondary-color;
    }

    .mat-step-text-label {
      color: white;
    }
    .mat-step-icon-selected {
      background-color: $detail-color;
    }
  }
}

mat-horizontal-stepper {
  background-color: $primary-color !important;
}

.mat-step-label {
  color: $detail-color !important;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-tab-label .mat-tab-label-content {
  color: $detail-color;
}

.mat-option {
  background-color: $primary-color !important;
  color: $detail-color !important;
}

.mat-select-min-line  {
  color: $secondary-color;
}

.mat-select-disabled .mat-select-min-line   {
  color: $secondary-spot-color;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $spot-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $spot-color;
}

