@import "../../main-styles";

:host {
  @include fullPage;
}

.main-container {
  height: 95%;
  width: 95%;

  mat-tab-group {
    height: 100%;
    width: 100%;
  }

  .team-details {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 56px auto;
    grid-gap: 1.2em;

    app-information-team {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
    }

  }

  .sprint-backlog {
    height: 100%;
  }
}





