<div class="main-container">

  <mat-tab-group>
    <mat-tab label="SPRINT BACKLOG">
      <div class="sprint-backlog">
        <app-sprint-backlog></app-sprint-backlog>
      </div>
    </mat-tab>
    <mat-tab label="TEAM DETAILS">
      <div class="team-details">
        <app-menu-team></app-menu-team>
        <app-projects></app-projects>
        <app-information-team></app-information-team>
      </div>
    </mat-tab>
    <mat-tab label="MEMBERS TEAM">
      <div class="members-teams">
        <app-members-team></app-members-team>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
