@import "src/main-styles";

form {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

button {
  min-width: 150px;
}

.button {
  display: flex;
  justify-content: space-between;
}

.one-button {
  display: flex;
  justify-content: flex-end;
}

.mat-input-element {
  color: $secondary-color;
}

.mat-input-element:disabled {
  color: $secondary-spot-color !important;
}
