@import "src/main-styles";

.name-button {
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $secondary-detail-color;
  font-size: 1.2em;
  background: $spot-color;
}

.button-click {
  width: 20%;
  background: $detail-color;
  border: none;
  border-radius: 0 0 10px 0 ;

  &:hover {
    cursor: pointer;
    filter: brightness(70%);
  }

  &:focus {
    outline: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0 10px 0 0 ;
  color: $secondary-detail-color;
  font-size: 1.2em;
  background: $spot-color;
}


.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  background: $primary-color;

  mat-form-field {
    width: 80%;
    color: $detail-color;
    font-size: 1.5em;

    mat-label {
      color: $spot-color;
    }
  }
}
