@import "../../main-styles";

.table {
  .mat-paginator {
    background-color: $secondary-color;
  }

  table {
    background-color: transparent;
    width: 100%;
    border-spacing: 0 1em;

    .mat-cell, .mat-header-cell {
      text-align: center;
    }

    .mat-row {
      background-color: $secondary-spot-color;
      &:hover {
        cursor: pointer;
        background-color: $detail-color;
      }
    }

    .mat-header-row {
      background: $detail-color;
    }

    .mat-header-cell {
      line-height: 1.2em;
      font-size: 1.2em;
      color: $primary-color;
    }
  }
}
