<app-dialog>
  <h2 title>Add members</h2>
  <form content [formGroup]="membersForm">
    <mat-form-field>
      <mat-label>Enter email: </mat-label>
      <input [formControl]="emailMembersFC" matInput />
    </mat-form-field>
    <div class="button one-button">
      <button mat-raised-button (click)="addMember()" [disabled]="!membersForm.valid">Add member</button>
    </div>
    <mat-form-field>
      <mat-label>List teams</mat-label>
      <mat-select>
        <mat-option *ngFor="let member of members">
          Email: {{member.email}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button action mat-raised-button (click)="save()">Add</button>
</app-dialog>
