<div class="belt"></div>
<input type="file" class="file-input" accept='image/*' (change)="selectImage($event)" #fileUpload>
<button class="image" (click)="fileUpload.click()">
  <img class="image-upload" *ngIf="imgUrl" [src]="imgUrl">
  <div class="text-centered">click to change</div>
</button>
<mat-card class="card" >
    <mat-card-header class="header">
      <mat-card-title class="title">{{resourceName.toUpperCase()}} {{resource.id}}</mat-card-title>
    </mat-card-header>
    <form class="content">
      <mat-form-field >
        <mat-label>Title for the {{resourceName}}</mat-label>
        <input matInput [formControl]="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea [formControl]="description" matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="5"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Access code for the {{resourceName}}</mat-label>
        <input matInput placeholder="test" [formControl]="accessCode">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{roleName}}</mat-label>
        <input matInput [formControl]="username" />
      </mat-form-field>
    </form>

  <div class="attachment">
    <mat-list>
      <div mat-subheader>ATTACHMENT</div>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>FILE NAME</div>
        <div mat-line>DATA</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>FILE NAME</div>
        <div mat-line>DATA</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>FILE NAME</div>
        <div mat-line>DATA</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>FILE NAME</div>
        <div mat-line>DATA</div>
      </mat-list-item>
    </mat-list>
  <mat-list>
    <div mat-subheader>
      <div>ADD ATTACHMENT</div>
      <input type="file" class="file-input" multiple (change)="selectFiles($event)" #filesUpload>
      <div>
      <button mat-mini-fab color="primary" class="upload-btn" (click)="filesUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <button *ngIf="files.length" mat-button (click)="uploadFiles()">
        SAVE ATTACHMENT
      </button>
      </div>
    </div>
    <mat-list-item *ngFor="let file of files">
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>{{file.name}}</div>
      <div mat-line>{{file.lastModified | date}}</div>
    </mat-list-item>
  </mat-list>
  </div>

</mat-card>


